body {
   background-image: url("../src/assets/vintage-music-white-sound-1791.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   font-family: 'Didact Gothic', 'sans-serif';
   margin: auto;
}

img {
   margin-left: auto;
   margin-top: auto;
   text-align: center;
}

a {
   font-size: x-large;
   color: black;
}

.homepage-links-container {
   padding: 210px;
}

.btn-large {
   margin-left: 50px;
}

.section.form-section {
   padding: 6rem;
}

/* form css */

label.black-text {
   font-size: 1rem;
}

input {
   
}

/* label color */
/* .input-field label {
   color: #000;
 }
 /* label focus color */
 /* .input-field input[type=text]:focus + label {
   color: #000;
 } */
 /* label underline focus color */
 /* .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 } */

