body {
   /* background-image: url("../src/assets/vintage-music-white-sound-1791.jpg"); */
   background-color: black;
   background-attachment: fixed;
   background-repeat: no-repeat;
   font-family: 'Didact Gothic', 'sans-serif';
   margin: auto;
   height: 100%
}

img {
   border: 4mm ridge rgba(170, 50, 220, .6);
}

a {
   font-size: large;
   color: black;
}

.homepage-message-container {
   padding: 35px;
}

.homepage-img-container {
   padding: 35px;
}


.homepage-links-container {
   padding: 20px;
}

.btn-large {
   margin: 20px;
}

.btn-small {
   margin-left: 50px;
   font-size: 5px;
}

.section.form-section {
   padding: 50px;
}

.section.message-section {
   padding: 1rem;
}

.section.button-section {
   padding: 1rem;
}

.section.home-button-section {
   padding: 5rem;
}

.or.white-text {
   padding: 30px;
}
/* form css */

label.white-text {
   font-size: 1rem;
}

/* input {

} */

/* label color */
/* .input-field label {
   color: #000;
 }
 /* label focus color */
 /* .input-field input[type=text]:focus + label {
   color: #000;
 } */
 /* label underline focus color */
 /* input[type=text]:focus {
   border-bottom: 1px solid rgb(25, 189, 25);
   box-shadow: 0 1px 0 0 #000;
 } */

