body {
   background-image: url("../src/assets/vintage-music-white-sound-1791.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   font-family: 'Didact Gothic', 'sans-serif';
   margin: auto;
}

img {
   margin-left: auto;
   margin-top: auto;
   text-align: center;
}

a {
   font-size: x-large;
   color: black;
}

